torch==2.3.0
torchvision
torchaudio
torchtext==0.18.0
torchdata==0.7.1
scikit-learn
numpy
pandas
uvicorn
fastapi
opencv-python
Pillow
uvicorn
matplotlib
rdkit
tensorflow==2.16.2
keras
patchify
IPython
tokenizers
torch
MDAnalysis
prolif
rcsbsearchapi
tqdm
nibabel
python-multipart